.messageBox{  
    width: 30%;
    padding: 15px;
    margin: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    clear: both;
}
.right{
    background-color: rgb(233, 223, 211);
    float: right;
    word-wrap: break-word;
}
.left{
    background-color: ghostwhite;
    float: left;
    word-wrap: break-word;

}